@import "tailwindcss";

@theme {
  /* Samples from your VHL clothing photo */
  --color-vhl-grey: #94a3b8;
  /* The grey sweatshirt sleeves */
  --color-vhl-maroon: #7f1d1d;
  /* The oxblood/red yoke */
  --color-vhl-lead: #18181b;
  /* The high-contrast ink black */
  --color-vhl-linen: #f1f5f9;
  /* The soft institutional white */

  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-vhl-linen text-vhl-lead font-sans antialiased overflow-x-hidden;
}

/* Custom shadow for that 'Punk' look */
.punk-shadow {
  box-shadow: 8px 8px 0px 0px #18181b;
}